body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  background-color: #F0EAD6; /* Eggshell color */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px; /* Add padding to create space around the table */
  position: relative; /* Set container as the reference for absolute positioning */
}

.dropdown-container {
  position: absolute; /* Position the dropdown outside the table container */
  top: -30px; /* Adjust the top position to move it above the table container */
  left: 0; /* Align the dropdown with the left of the table container */
}

.dropdown-container label {
  font-weight: bold; /* Apply bold font-weight to the label */
}

.table-container {
  width: 100%; /* Set table container width to 100% */
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff; /* White background for the table container */
  border: 1px solid #ccc; /* Optional: Add a border to the table container */
  border-radius: 5px; /* Optional: Add rounded corners to the table container */
  padding: 10px;
  overflow-x: hidden; /* Hide horizontal overflow */
}


table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  border: none;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #e7e1cf; /* Eggshell color for the header */
}

tr:nth-child(even) {
  background-color: #fff; /* White background for odd rows */
}

tr:nth-child(odd) {
  background-color: #f9f4e8; /* Eggshell color for even rows */
}

#pagination {
  margin-top: 20px;
  display: flex; /* Display the pagination buttons in a row */
}

#pagination a {
  color: blue; /* Blue color for the pagination link */
  text-decoration: underline; /* Underline to indicate hyperlink */
  margin-right: 10px; /* Add some spacing between the links */
}

#pagination a:last-child {
  margin-right: 0; /* Remove spacing from the last link */
}

/* Add styles for specific table headers */
th:nth-child(1) {
  width: 70%; /* Set width for the first column */
}

th:nth-child(2) {
  width: 20%; /* Set width for the second column */
}

th:nth-child(3) {
  width: 10%; /* Set width for the third column */
}

/* Style the links in the second column */
td:nth-child(2) a {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

tr {
  height: 25px; /* Set the desired height for the rows */
}