body, html {
  background-color: #2c2537;
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  color: #f0f0f0;
  margin: 0;
  padding: 5% 0; /* Removed left and right padding here */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centering children */
  padding-top: 1%;
  
}

.container {
  padding: 20px;
  border-radius: 5px;
  max-width: 100vw; /* Ensures no element is wider than the viewport */
  box-sizing: border-box;
  margin-left: 5%; /* Added percentage-based left margin */
  margin-right: 5%; /* Added percentage-based right margin */
  width: 80%; /* Reduced width from 90% to 80% to make it smaller */
}

#site-logo {
  width: 90%;
   /* This will make the image take up 50% of its container's width */
  /* height will adjust automatically to maintain aspect ratio unless you specify it */
  /* padding-left: 50px; */

  
}

li {
  margin-bottom: 10px;
}



/* Media query to remove the margins and padding when screen size is below 768px */
@media (max-width: 768px) {
  .container {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      padding: 0;
      border: none;
  }
}


.title-container {
  border: 0px solid red;
  display: flex;

  


  align-items: left;
  flex-direction: column; /* Changes from column to row so items are side by side */
  align-items: left; /* Vertically centers the title and filter */
  justify-content: space-between; /* Spreads out the title and filter */

  padding-bottom: 3%;
  text-align: left;
  
  
  


}

.title-container, .table-container {
  width: 50%;  /* This is a starting width. Adjust as needed */

}

@media (max-width: 1200px) {
  .title-container, .table-container {
      width: 70%;
  }
}

@media (max-width: 1024px) {
  .title-container, .table-container {
      width: 72%;
  }
}

@media (max-width: 900px) {
  .title-container, .table-container {
      width: 78%;
  }
}

@media (max-width: 768px) {
  .title-container, .table-container {
      width: 90%;
  }
  .title-container{
    padding-bottom: 15%;
  }
}





.title-container h1 {
  font-family: 'Inter', monospace;
  font-size: 40px;
  color: white;
  text-align: left;
  margin: 0;
  margin-bottom: 1%;

  
}


.about-link {
  font-size: 1.3vh;
  color: #61747a;
  text-decoration: none;
  text-align: left;
  margin-left: 6%;

 /* To center the text block if it's narrower than the container */


  margin-top: 20px;

}

.about-link .info-icon {
  border: 1px solid #333;
  border-radius: 50%;
  padding: 2px;
  margin-left: 5px;

  top: -1px;
  font-size: 1.3vh;
}

.about-link .arrow {
  font-size: 22px;
  margin-left: 5px;
}

.about-text-container {
  display: none;
  font-size: 12px;
  margin-top: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: #61747a;
  text-align: left;
  max-width: 800px;
}


.title-container p {
  text-align: left;
  max-width: 800px; /* You can adjust this value based on your design */
  margin: 0 auto; /* To center the text block if it's narrower than the container */
  color: #61747a; /* To match the color scheme you provided */
  font-size: 12px; /* Adjust based on your design preferences */
}


.filter-container {
  border: 0px solid green;
  display: flex;
  align-items: center; /* This aligns items vertically in the center */
  justify-content: center; /* This centers items horizontally */
  font-size: 12px;
  margin-left: 6px;
  flex-wrap: wrap; /* Retaining this property to allow items to wrap onto multiple lines when needed */
  gap: 6px; /* Gap between items */
}

.filter-container::before {
  content: "Filter By:";
  color: #61747a;
  margin-right: 0px;
  font-size: 12px;
  flex-shrink: 0;
}


.table-container {
  border: 0px solid blue;
  display: flex;
  flex-direction: column;


  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

table td, table th {
  word-wrap: break-word; /* Allows the content to wrap */
  max-width: 150px; /* Set a max width for the cells */
  overflow-wrap: break-word; /* Break long words if necessary */
}

select {
  width: auto; /* adjusted based on your requirements */
  padding: 10px;
  background-color: #2c2537; /* changed to match the website background */
  border: none; /* removed border */
  color: #61747a;
  font-size: 12px;
  appearance: none; /* for certain browsers to remove default styling */
  -webkit-appearance: none; /* for Chrome and Safari */
  -moz-appearance: none; /* for Firefox */
  padding-right: 25px; /* Make space for the down arrow image */
  background-image: url('data:image/svg+xml;utf8,<svg width="10" height="6" xmlns="http://www.w3.org/2000/svg"><path d="M0 0L5 6L10 0" fill="none" stroke="%2361747a" stroke-width="2"/></svg>');
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center; /* Positioning the arrow a bit more towards the right *//* Positioning the arrow a bit more towards the right */ /* Position the arrow on the right (with a little space in between) */
  border-radius: 5px; /* Default border-radius for the select element */
  outline: none; /* Removes the default browser focus outline */
  font-weight: bold;
  

  
}

select:hover {
  background-color: #33464c;
  border-radius: 15px; /* Increases the border-radius when hovered */
}


select:focus {
  background-color: #33464c;
  border-radius: 15px; /* Increases the border-radius when hovered */
}



/* Remove the default appearance for the dropdown button */
#dropdown2, #dropdown1, #dropdown3 {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  
  /* Add any additional styles for the button here */
}

/* Attempt to style the options */
#dropdown2 option, #dropdown1 option, #dropdown3 option {
  background-color: #2c2537; /* For example, a light gray background */
  color: #61747a; /* Dark text color */
  border-style: none;
  border-color: #2c2537;
  font-size: 14px; /* Make text bigger */
  line-height: 5;  /* Increase the height of each option */
  padding: 5px 10px; /* Add some padding for even more height and comfort */

}

#dropdown2 option:hover, #dropdown1 option:hover, #dropdown3 option:hover {
  background-color: red; /* Example hover color */
  color: #ffffff; /* Example hover text color */
}




#dropdown2::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Webkit browsers */
}

#dropdown2 {
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}






.pagination {
  margin-top: 10px;
}

#pagination {
  display: flex;
  justify-content: center;  
  margin-top: 20px;         
}

#pagination button {
  margin: 0 5px;             
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 20px;            /* 1. Border radius */
  background-color: #5f5179;     /* 2. Background color */
  border: none;                  /* 5. No border color */
  color: white;                  /* 6. Font color */
  font-weight: bold;             /* 6. Font bold */
  transition: background-color 0.3s; /* Smooth color change transition */
}

#pagination button.active {
  background-color: #9980c4;
  color: black;   /* 3. Slightly lighter background color */
}

#pagination button:hover {
  background-color: #816ea4;   /* 4. Slightly lighter background color on hover, but not as light as the active state */
}



.date-formatted {
  font-size: 10px;
  color: #61747a;
}

.category {
  color: white;
  padding: 2px 6px;
  border-radius: 16px;
  margin-right: 5px; /* for space between categories if multiple in a row */
  display: inline-block; /* so they line up next to each other */
  font-size: 12px;
  padding-top: 5px;  /* Adds padding to the top of the span */
  padding-bottom: 5px;  /* Adds padding to the bottom of the span */
  line-height: 1.0;  /* Adjust this value as needed to control the height of the line of text */
  
}

.category.making-money-with-ai { background-color: green; }
.category.ai-real-world-applications { background-color: blue; }
.category.writing-prompts-for-chatbot-assistants { background-color: rgb(143, 186, 0); }
.category.ai-news { background-color: red; }
.category.new-tech-and-ai-tools { background-color: rgb(128, 0, 77); }
.category.ai-marketing-tools { background-color: rgb(208, 0, 255); }
.category.ai-in-business { background-color: rgb(221, 181, 0); }
.category.no-code-ai-use-cases { background-color: cyan; }



.separating-line {
  border-bottom: 2px solid red;  /* Adjust color and thickness as needed */
}


#data-table td, #data-table a {
  margin: 0;
  padding: 0;
}




/* CSS */
tbody {
  border-collapse: separate;
  border-spacing: 0;
}

tbody tr:first-child td {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

tbody tr:last-child td {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

