body, html {
  background-color: #F5F5F5;
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  color: #333333;
  margin: 0;
  padding: 5% 0; /* Removed left and right padding here */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centering children */
  padding-top: 1%;
  overflow-x: hidden;
  
  
}

.container {
  padding: 20px;
  border-radius: 5px;
  max-width: 100vw; /* Ensures no element is wider than the viewport */
  box-sizing: border-box;
  margin-left: 5%; /* Added percentage-based left margin */
  margin-right: 5%; /* Added percentage-based right margin */
  width: 80%; /* Reduced width from 90% to 80% to make it smaller */
}

#site-logo {
  width: 90%;
   /* This will make the image take up 50% of its container's width */
  /* height will adjust automatically to maintain aspect ratio unless you specify it */
  /* padding-left: 50px; */

  
}

li {
  margin-bottom: 20px;
}



/* Media query to remove the margins and padding when screen size is below 768px */
@media (max-width: 768px) {
  .container {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      padding: 0;
      border: none;
  }
}


.title-container {
  border: 0px solid red;
  display: flex;

  


  align-items: left;
  flex-direction: column; /* Changes from column to row so items are side by side */
  align-items: left; /* Vertically centers the title and filter */
  justify-content: space-between; /* Spreads out the title and filter */

  padding-bottom: 3%;
  text-align: left;
  
  
  


}

.title-container, .table-container {
  width: 40%;  /* This is a starting width. Adjust as needed */

}


@media (max-width: 2000px) {
  .title-container, .table-container {
      width: 55%;
  }
}


@media (max-width: 1200px) {
  .title-container, .table-container {
      width: 70%;
  }
}

@media (max-width: 1024px) {
  .title-container, .table-container {
      width: 72%;
  }
}

@media (max-width: 900px) {
  .title-container, .table-container {
      width: 78%;
  }
}

@media (max-width: 768px) {
  .title-container, .table-container {
      width: 90%;
  }
  .title-container{
    padding-bottom: 15%;
  }
}





.title-container h1 {
  font-family: 'Inter', monospace;
  font-size: 40px;
  color: #333333;
  text-align: left;
  margin: 0;
  margin-bottom: 0%;

  
}


.about-link {
  font-size: 1.3vh;
  color: #1F77B4;
  text-decoration: none;
  text-align: left;
  margin-left: 6%;

 /* To center the text block if it's narrower than the container */


  margin-top: 2px;

}

.about-link .info-icon {
  /* border: 1px solid #333; */
  border-radius: 50%;
  
  padding: 2px;
  margin-left: 5px;
  /* color: #3EB489; */

  top: -1px;
  font-size: 1.3vh;
}

.info-icon {
  font-size: 0.1vh;
}

.about-link .arrow {
  font-size: 22px;
  margin-left: 5px;
}

.about-text-container {
  display: none;
  font-size: 12px;
  margin-top: 0px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: #61747a;
  text-align: left;
  max-width: 800px;
}


.title-container p {
  text-align: left;
  max-width: 800px; /* You can adjust this value based on your design */
  margin: 0 auto; /* To center the text block if it's narrower than the container */
  color: #333333;
  font-size: 12px; /* Adjust based on your design preferences */
}


.filter-container {
  border: 0px solid green;
  display: flex;
  align-items: center; /* This aligns items vertically in the center */
  justify-content: center; /* This centers items horizontally */
  font-size: 12px;
  margin-left: 6px;
  flex-wrap: wrap; /* Retaining this property to allow items to wrap onto multiple lines when needed */
  gap: 6px; /* Gap between items */
  margin-bottom: 20px;
}



.filter-container {
  display: flex;
  align-items: center;
}

#sort-box {

  display: flex; 
  align-items: center;
}

.filter-label {
  padding-right: 10px;
}


.filter-label {
  color: #61747a;
  font-size: 10px;
  /* text-align: center; */
  margin-bottom: -3px;
}



.table-container {
  border: 0px solid blue;
  display: flex;
  flex-direction: column;


  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

table td, table th {
  word-wrap: break-word; /* Allows the content to wrap */
  max-width: 150px; /* Set a max width for the cells */
  overflow-wrap: break-word; /* Break long words if necessary */
}

select {
  width: auto;
  padding: 10px;
  /* background-color: #3EB489; */
  background-color: transparent;
  border: none;
  color: #61747a;
  font-size: 12px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 25px;
  background-image: url('data:image/svg+xml;utf8,<svg width="10" height="6" xmlns="http://www.w3.org/2000/svg"><path d="M0 0L5 6L10 0" fill="none" stroke="%2361747a" stroke-width="2"/></svg>');
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  border-radius: 10px;
  outline: none;
  /* font-weight: bold; */
}

select:hover {
  /* background-color: #2c8c6a; */
  background-color: #3EB489;
  color: #F5F5F5;
  border-radius: 10px;
}

select:focus {
  /* background-color: #2c8c6a; */
  background-color: #3EB489;
  color: #F5F5F5;
  border-radius: 10px;
}




/* Attempt to style the options */
#dropdown2 option, #dropdown1 option, #dropdown3 option, #dropdown4 option {
  background-color: #F5F5F5;
  color: #333333;
}

#dropdown2 option:hover, #dropdown1 option:hover, #dropdown3 option:hover, #dropdown4 option:hover {
  background-color: #3EB489;
  color: #FFFFFF;
}





#pagination {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
}

#pagination button {
  padding: 6px 12px;
  background-color: #3EB489;
  color: #FFFFFF;
  font-size: 12px;
  border: none;
  border-radius: 5px;
}

#pagination button.active {
  background-color: #2c8c6a;
  color: #FFFFFF;
}

#pagination button:hover {
  background-color: #246a53;
}

#pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  background-color: #3EB489;
}



.date-formatted {
  font-size: 10px;
  color: #61747a;
}



.category {
  text-align: left;
  color: #FFFFFF;
  padding: 7px;
  border-radius: 15px;
  margin-right: 5px; /* for space between categories if multiple in a row */
  display: inline-block; /* so they line up next to each other */
  font-weight: bold;
  margin-bottom: 2px;
  font-size: 12px;
  background-color: #02d0ae;
}

.category.making-money-with-ai { background-color: green; }
.category.ai-real-world-applications { background-color: blue; }
.category.writing-prompts-for-chatbot-assistants { background-color: rgb(121, 77, 255); }
.category.ai-news { background-color: red; }
.category.new-tech-and-ai-tools { background-color: rgb(215, 36, 255); }
.category.ai-marketing-tools { background-color: rgb(128, 0, 77); }
.category.ai-in-business { background-color: rgb(211, 172, 0); }
.category.no-code-ai-use-cases { background-color: #FF6347; }
.category.ai-tools { background-color: #e400d5; }
.category.ai-jobs { background-color: #ff9b0f; }
.category.ai-training-and-courses { background-color: #00e0e4; }



.separating-line {
  border-bottom: 2px solid red;  /* Adjust color and thickness as needed */
}


#data-table td, #data-table a {
  margin: 0;
  padding: 0;
}




/* CSS */
tbody {
  border-collapse: separate;
  border-spacing: 0;
}

tbody tr:first-child td {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

tbody tr:last-child td {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


footer {
  /* background-color: #f1f1f1; */
  text-align: center;
  padding: 10px;
  /* position: fixed; */
  width: 100%;
  bottom: 0;
  font-size: 10px;
  color: gray;
}


